@media screen and (width < 848px) {
}

@media screen and (width < 758px) {
  nav {
    & .logo-container {
      width: 45px;
    }
  }
  .slides-container {
    height: 50vh;
  }
}

@media screen and (width < 648px) {
  html {
    font-size: 56.5%;
  }
  nav {
    box-shadow: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;

    & .search-container {
      display: none;
    }
  }
  .responsive-search-container {
    display: flex;
    box-shadow: #0c188198 0px 0px 19px 3px;
  }
  .slides-container {
    top: 138px;
    height: 48vh;
    z-index: 9999;
  }
}

@media screen and (width < 548px) {
  html {
    font-size: 50.5%;
  }
  .slides-container {
    height: 37vh;
  }
}
