@media screen and (width < 758px) {
  nav {
    & .logo-container {
      width: 45px;
    }
  }
}

@media screen and (width < 648px) {
  html {
    font-size: 56.5%;
  }
  nav {
    box-shadow: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;

    & .search-container {
      display: none;
    }
  }
  .responsive-search-container {
    display: flex;
    box-shadow: #0c188198 0px 11px 23px 1px;
  }
}

@media screen and (width < 548px) {
}
