* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  background: #080c31;
}

/***** Repeat code *****/

.btn {
  padding: 0.4rem 1.6rem;
  font-weight: 500;
  font-size: 1.7rem;
  background: linear-gradient(144deg, #b500fd, #5b42f3 60%, #00ddeb);
  color: #fff;
  border: none;
  outline: none;
  border-radius: 4rem;
  -webkit-border-radius: 4rem;
  -moz-border-radius: 4rem;
  -ms-border-radius: 4rem;
  -o-border-radius: 4rem;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;

  &:hover {
    scale: 1.09;
  }

  &:active {
    scale: 0.89;
  }
}

a {
  text-decoration: none;
}

/***** End Repeat code *****/

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 2%;
  background: #080c31;
  box-shadow: #0c1781 0px 2px 29px 5px;
  gap: 2rem;
  position: fixed;
  top: 0;
  z-index: 9999;

  & .logo-container {
    width: 55px;
    aspect-ratio: 1;

    & img {
      width: 100%;
    }
  }

  & .search-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    background: #00000059;
    padding: 1rem 2rem;
    border-radius: 4rem;
    -webkit-border-radius: 4rem;
    -moz-border-radius: 4rem;
    -ms-border-radius: 4rem;
    -o-border-radius: 4rem;
    flex: 1;

    & i {
      font-size: 2rem;
    }

    & #userInput {
      width: 100%;
      padding: 0.5rem 1rem;
      background: transparent;
      border: none;
      outline: none;
      font-size: 2rem;
      color: #fff;
    }
  }
  & .addtocard-Container {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
    color: #fff;
    position: relative;

    & i {
      font-size: 2.6rem;
    }

    & #cartValue {
      position: absolute;
      top: -14px;
      font-size: 1.8rem;
      right: -8px;
      width: 22px;
      height: 22px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #ff0000;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      transition: 0.4s;
      -webkit-transition: 0.4s;
      -moz-transition: 0.4s;
      -ms-transition: 0.4s;
      -o-transition: 0.4s;
    }

    &:hover #cartValue {
      scale: 1.2;
    }
  }

  & .signUpContainer {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  & .right {
    display: flex;
    gap: 4rem;
  }

  & .menu {
    width: 32px;
    display: none;

    & img {
      width: 100%;
    }
  }
}

/***** Mobile View *****/

.responsive-search-container {
  position: fixed;
  top: 85px;
  display: none;
  align-items: center;
  gap: 1rem;
  background: #00000059;
  padding: 1.7rem 2rem;
  z-index: 9999;
  width: 100%;

  & i {
    font-size: 2rem;
  }

  & #userInput {
    width: 100%;
    padding: 0.5rem 1rem;
    background: transparent;
    border: none;
    outline: none;
    font-size: 2rem;
    color: #fff;
  }
}

/***** End Mobile View *****/

/***** Image slider *****/

.slides-container {
  position: relative;
  top: 97px;
  width: 100%;
  height: 60vh;
  overflow: hidden;

  & img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    mask-image: linear-gradient(to bottom, #000000d2 40%, transparent 100%);
  }

  & img:not(.active) {
    left: -100%;
  }

  & .dots-container {
    width: 100%;
    position: absolute;
    top: 70%;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    & .dot {
      width: 1rem;
      height: 1rem;
      border: 3px solid #fff;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      transition: width 0.4s ease;
      -webkit-transition: width 0.4s ease;
      -moz-transition: width 0.4s ease;
      -ms-transition: width 0.4s ease;
      -o-transition: width 0.4s ease;
    }

    & .dot.activeDot {
      width: 2rem;
      border-radius: 5rem;
      -webkit-border-radius: 5rem;
      -moz-border-radius: 5rem;
      -ms-border-radius: 5rem;
      -o-border-radius: 5rem;
    }
  }

  & .btn-container {
    & .btn {
      position: absolute;
      width: 4.2rem;
      height: 4.2rem;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      font-size: 2.5rem;
      top: 36%;
      transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #d3d3d3;

      &:hover {
        background: linear-gradient(10deg, #7700a7, #1e02d8 60%, #00949e);
      }
    }

    & .next {
      right: 1.2rem;
    }

    & .prev {
      left: 1.2rem;
    }
  }
}

/***** End Image slider *****/

/***** Animations *****/

@keyframes next1 {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}

@keyframes next2 {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}
/***** End Animations *****/
